
/*Homeページのレイアウト*/

.home:hover{
  color:white;
  background-color:rgba(255, 255, 255, 0.3);
}

main{
  height:100%;
  padding:20% 50px 10% 50px;
  text-align:center;
}
.main-messages{
  width:90%;
  padding:15px;
  margin:auto;
}
.main-messages h1{
  color:white;
  margin-top:0px;
  margin-bottom: 0px;
  font-size:80px;
  opacity:1;
  letter-spacing:20px;
}
.main-messages h2{
  color:white;
  margin:0px;
  padding:16.6px;
  font-size:20px;
  opacity:1;
  border-top:1px solid white;
  letter-spacing:15px;
}

.btn{
  color:white;
  display:inline-block;
  opacity:1;
  border-radius:100px;
  transition: 1s;
}
.btn:hover{
  opacity:0.5;
  transition:all 1s;
}
.facebook{
  background-color:#3b5998;
  margin-right:40px;
  padding:21px 30px;
}
.twitter{
  background-color:#55acee;
  margin-right:40px;
  padding:21px 22px;
}
.instagram{
  background-color:red;
  padding:21px 24px;
}
.btn-wrapper{
  margin:10px;
}
.btn-messages h2{
  color:white;
  margin:0px;
  padding:10px;
  font-size:18px;
  opacity:1;
  letter-spacing:10px;
}





/*iPad用レイアウト*/
@media(max-width:1000px){
  main{
    padding:30% 50px 20% 50px;
  }
  .home{
    color:black;
    background-color:rgba(255, 255, 255, 1);
  }
  .main-messages h1{
    font-size:60px;
    letter-spacing:15px;
  }
  .main-messages-beginnings{
    padding-bottom: 5%;
  }
  .main-messages h2{
    padding-top: 5%;
  }
  .btn-messages h2{
    padding: 5%;
  }
}

/*iPhone用レイアウト*/
@media(max-width:670px){
  main{
    padding:40% 0px 20% 0px;
  }
  .main-messages{
    padding-bottom: 0px;
  }
  .main-messages h1{
    font-size: 35px;
    letter-spacing:10px;
  }
  .main-messages-life{
    padding-top: 5%;
  }
  .main-messages h2{
    font-size: 17px;
    letter-spacing:7px;
  }
  .btn-messages h2{
    font-size: 20px;
  }
  .facebook{
    margin-right:5%;
    padding:15px 24px;
  }
  .twitter{
    margin-right:5%;
    padding:15px 16px;
  }
  .instagram{
    padding:15px 18px;
  }
}
